Body {
    margin: 1;
    layout: grid;
    grid-size: 2 3;
    grid-rows: 1fr 1fr 1fr;
}

FileBar {
  column-span: 2;
  layout: grid; 
  grid-size: 6;
  grid-gutter: 0 1;
  margin: 0 1;
}

#file-input {
  column-span: 5;
}
    
#load-btn {
 column-span: 1;
}

RatesConventions {
    layout: grid;
    grid-size: 3 1;
}

.box {
    height: 100%;
    border: round green;
}
